extends layout

block settings-content
  h1.widget-hd: span= string.view.settings.account.title
  form(action='/settings/account', method='post').form
    if successSaveChanges
      p.success= successSaveChanges
    div.input-group
      label= string.input.user.screenNameLabel
      div.input-text-with-addon
        span @
        input(type='text', name='screen_name', maxlength=config.pattern.user.screenName.maxlength, pattern=config.pattern.user.screenName.string, title=string.input.user.screenNameTitle, value=user.screenName, placeholder=string.input.user.screenNameTitle, required)
        //- input(type='text', name='screen_name', title=string.input.user.screenNameTitle, value=user.screenName, placeholder=string.input.user.screenNameTitle)
      if validationErrScreenName
        span.flash= validationErrScreenName
    div.input-group
      input(type='submit', value=string.word.saveChanges).input-submit
      input(type='hidden', name='_csrf' value=csrftoken)
  //- TODO: そのうち整備
  h2.widget-hd: span 外部サービス連携
  p ここはそのうち整備するよ！
