extends layout

block settings-content
  h1.widget-hd: span= string.view.settings.notifications.email
  form(action='/settings/email', method='post').form
    div.input-group
      label= string.input.user.emailLabel
      input(type='email', name='email', maxlength=config.pattern.user.email.maxlength, value=user.email, title=string.input.user.emailTitle, placeholder=string.input.user.emailTitle, required).input-text
    div.input-group
      label= string.input.user.publicEmailLabel
      p= string.input.user.publicEmailMessage
      div.input-checkbox
        input(type='checkbox' name='public_email' value=user.publicEmail)
        label= string.input.user.publicEmailString
    div.input-group
      input(type='submit', value=string.word.saveChanges).input-submit
      input(type='hidden', name='_csrf' value=csrftoken)
  //- 通知設定は未実装
  h1.widget-hd: span= string.view.settings.notifications.notifications
  form(action='/settings/notifications', method='post').form
    div.input-group
      label NAMEからのお知らせ
      p NAME からお知らせメールが届きます。
      div.input-checkbox
        input(type='checkbox')
        label メール
        input(type='checkbox')
        label Web
    div.input-group
      input(type='submit', value=string.word.saveChanges).input-submit
      input(type='hidden', name='_csrf' value=csrftoken)
