extends layout

block content
  div
    div.widget
      p= profile.id
      p= profile.name
      p= profile.screenName
      p= profile.email
      p= profile.password
      p= profile.passwordSalt
      p= profile.description
      p= profile.createdAt
      p= profile.updatedAt