extends layout

block settings-content
  h1.widget-hd: span= string.view.edit.info.info
  form(action='./info', method='post').form
    if successSaveChanges
      p.success= successSaveChanges
    .input-group
      label= string.input.game.titleLabel
      input(type='text', name='title', maxlength=config.pattern.game.title.maxlength, title=string.input.game.titleTitle, value=game.title, placeholder=string.input.game.titleTitle, required).input-text
      if validationErrTitle
        span.flash= validationErrTitle
    .input-group
      label タグ
      p ゲームに関連付けるタグを 10 個まで登録できます。
      .input-chip
        ul
          li 塩リープ
        input(type='text', name='title', maxlength=config.pattern.game.title.maxlength, title=string.input.game.titleTitle, value=game.title, placeholder=string.input.game.titleTitle, required)
      if validationErrTitle
        span.flash= validationErrTitle
    .input-group
      label タグ
      p ゲームに関連付けるタグを 10 個まで登録できます。
      .input-chip
        ul
          li 塩リープ
          li enchant.js
          li enchant.js
          li enchant.js
          li enchant.js
          li enchant.js
          li enchant.js
          li enchant.js
          li enchant.js
          li enchant.js
          li enchant.js
          li enchant.js
          li enchant.js
          li enchant.js
        input(type='text', name='title', maxlength=config.pattern.game.title.maxlength, title=string.input.game.titleTitle, value=game.title, placeholder=string.input.game.titleTitle, required)
      if validationErrTitle
        span.flash= validationErrTitle
    .input-group
      label= string.input.game.descriptionLabel
      textarea(name='description', maxlength=config.pattern.game.description.maxlength, title=string.input.game.descriptionTitle, placeholder=string.input.game.descriptionTitle).input-textarea= game.description
      if validationErrDescription
        span.flash= validationErrDescription
    .input-group
      input(type='submit', value=string.word.saveChanges).input-submit
      input(type='hidden', name='_csrf' value=csrftoken)
  h1.widget-hd: span= string.view.edit.info.thumbnail
  form(action='./thumbnail', method='post', enctype='multipart/form-data').form
    if successSaveChanges
      p.success= successSaveChanges
    .input-group
      label= string.input.game.thumbnailImageLabel
      p= string.input.game.thumbnailImageParagraph
      .input-file-with-thumbnail
        img(src='/thumbnail/' + game.thumbnailImage)
        div
          input(type='file', name='thumbnail_image', accept='image/png, image/jpeg' required)
          p= string.input.game.thumbnailImageTitle
      if validationErrThumbnailImage
        span.flash= validationErrThumbnailImage
    .input-group
      input(type='submit', value=string.word.saveChanges).input-submit
      input(type='hidden', name='_csrf' value=csrftoken)
