extends layout

block settings-content
  h1.c-hd--h1: span.c-hd__underline= string.view.edit.info.info
  form(action='./info' method='post').p-form
    .p-form__input-group
      label.p-form__label= string.input.game.titleLabel
      input(type='text' name='title' maxlength=config.pattern.game.title.maxlength title=string.input.game.titleTitle value=game.title placeholder=string.input.game.titleTitle required).c-input--text
      if validationErrTitle
        span.p-form__warn= validationErrTitle
    .p-form__input-group
      label.p-form__label= string.input.game.tagsLabel
      p.p-form__paragraph!= string.input.game.tagsMessage
      input(type='text' name='tags' title=string.input.game.tagsTitle value=gameTags placeholder=string.input.game.tagsTitle required).c-input--text
      if validationErrTags
        span.p-form__warn= validationErrTags
    .p-form__input-group
      label.p-form__label= string.input.game.descriptionLabel
      textarea(name='description' maxlength=config.pattern.game.description.maxlength title=string.input.game.descriptionTitle placeholder=string.input.game.descriptionTitle).c-input--textarea= game.description
      if validationErrDescription
        span.p-form__warn= validationErrDescription
    .p-form__input-group
      input(type='submit' value=string.word.saveChanges).c-input--submit
      input(type='hidden' name='_csrf' value=csrftoken)
  h1.c-hd--h1: span.c-hd__underline= string.view.edit.info.thumbnail
  form(action='./thumbnail' method='post' enctype='multipart/form-data').form
    .p-form__input-group
      label.p-form__label= string.input.game.thumbnailImageLabel
      p.p-form__paragraph= string.input.game.thumbnailImageParagraph
      .c-input--file-with-thumbnail
        img(src='/thumbnail/' + game.thumbnailImage).c-input--file-with-thumbnail__thumbnail
        .c-input--file-with-thumbnail__file
          input(type='file' name='thumbnail_image' accept='image/png image/jpeg' required).c-input--file-with-thumbnail__input
          label.c-input--file-with-thumbnail__label= string.input.game.thumbnailImageTitle
      if validationErrThumbnailImage
        span.p-form__warn= validationErrThumbnailImage
    .p-form__input-group
      input(type='submit' value=string.word.saveChanges).c-input--submit
      input(type='hidden' name='_csrf' value=csrftoken)
