extends layout

block settings-content
  h1.widget-hd: span= string.view.settings.password.title
  form(action='/settings/password', method='post').form
    if successSaveChanges
      p.success= successSaveChanges
    div.input-group
      label= string.input.user.currentPasswordLabel
      input(type='password', name='current_password', placeholder='Your current password' required).input-text
      if notMatchedPassword
        span.flash= notMatchedPassword
    div.input-group
      label= string.input.user.newPasswordLabel
      input(type='password', name='new_password', pattern=config.pattern.user.password.string, title=string.input.user.passwordTitle, placeholder=string.input.user.passwordTitle, required).input-text
      if validationErrPassword
        span.flash= validationErrPassword
    div.input-group
      label= string.input.user.newPasswordConfirmLabel
      input(type='password', name='new_password_confirm', title=string.input.user.newPasswordConfirmTitle, placeholder=string.input.user.newPasswordConfirmTitle, required).input-text
      if validationErrPasswordConfirm
        span.flash= validationErrPasswordConfirm
    div.input-group
      input(type='submit', value=string.word.saveChanges).input-submit
      input(type='hidden', name='_csrf' value=csrftoken)
