extends layout

block settings-content
  h1.c-hd--h1: span.c-hd__underline= string.view.settings.password.title
  form(action='/settings/password', method='post').p-form
    if successSaveChanges
      p.success= successSaveChanges
    .p-form__input-group
      label.p-form__label= string.input.user.currentPasswordLabel
      input(type='password', name='current_password', placeholder='Your current password' required).c-input--text
      if notMatchedPassword
        span.p-form__warn= notMatchedPassword
    .p-form__input-group
      label.p-form__label= string.input.user.newPasswordLabel
      input(type='password', name='new_password', pattern=config.pattern.user.password.string, title=string.input.user.passwordTitle, placeholder=string.input.user.passwordTitle, required).c-input--text
      if validationErrPassword
        span.p-form__warn= validationErrPassword
    .p-form__input-group
      label.p-form__label= string.input.user.newPasswordConfirmLabel
      input(type='password', name='new_password_confirm', title=string.input.user.newPasswordConfirmTitle, placeholder=string.input.user.newPasswordConfirmTitle, required).c-input--text
      if validationErrPasswordConfirm
        span.p-form__warn= validationErrPasswordConfirm
    .p-form__input-group
      input(type='submit', value=string.word.saveChanges).c-input--submit
      input(type='hidden', name='_csrf' value=csrftoken)
